body {
    background-color: rgb(193, 236, 106) ;
}
p {
    color: blue;
}
.text {
    text-align: justify;
}
h1 {
    text-align: center;
 
 }   
h1 {
    color: blue;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color:brown;
    text-decoration: underline;
}

p {
    text-align: justify;
}
.text--color {
    color:brown 
}
.text-block {
    color: green;
}


